teht1/build/
teht1/*.user
teht2/build/
teht2/*.user
teht3/build/
teht3/*.user
Mittari/
Pankkisovellus/
teht4/build/
teht4/*.user
teht5/build/
teht5/*.user
teht6/build/
teht6/*.user
teht7t1/build/
teht7t1/*.user

